<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件已发送</title>
</head>
<body>
<div class="eamilSent">
    <h1><span>验证信息已发送至您的邮箱。</span><br>
    <a href="javascript:void(0)" onclick="return mailServer()">
        <span class="btn-default" id="mailServer">去邮箱验证</span>
    </a>
    </h1>
</div>
<link rel="stylesheet" type="text/css" href="../stylesheets/config.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/config.js"></script>
</body>
</html>