<!DOCTYPE >
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>运行</title>
    <script type="text/javascript" src="../javascripts/vue.js"></script>
</head>

<body>
<div class="mycontainer">
    <div id="app" class="leftsidebar_box" style="height: 90%">
        <dl class="system_log" v-for="project in projects" :key="project.index">
            <dt v-once @click="dtClick">{{project.projectName}}<img ></dt>
            <dd  class="st menu_chioce" v-for="svg in svgs" :id="svg.id" :key="svg.index"
                 v-if="svg.projectName == project.projectName" @click="c1">
                {{ svg.name }}
            </dd>
        </dl>
    </div>

    <div class="svg-container run-rb" id="svgContainer" style="position: relative; left: 17%;
    top:1%; width : 80%; height: 90%; background-color: lightgray; ">
    </div>
</div>

<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/svg.select.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/test.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/right-click-menu.css"/>

<script type="text/javascript" src="../javascripts/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/right-click-menu.js" ></script>
<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../javascripts/svg.js"></script>
<script type="text/javascript" src="../javascripts/svg.draggable.js"></script>
<script type="text/javascript" src="../javascripts/svg.resize.js"></script>
<script type="text/javascript" src="../javascripts/svg.select.js"></script>
<script type="text/javascript" src="../javascripts/svg.path.js"></script>
<script type="text/javascript" src="../javascripts/jscolor.js"></script>

<script type="text/javascript" src="../javascripts/ajaxOption.js"></script>
<script type="text/javascript" src="../javascripts/test.js"></script>
<script type="text/javascript" src="../javascripts/project.js"></script><!--
<script type="text/javascript" src="../javascripts/manipulate.js"></script>-->
<script type="text/javascript" src="../javascripts/addindustrialEle.js"></script>
<script type="text/javascript" src="../javascripts/runVue.js"></script>

<!-- 模态框（Modal） 绑定测点时弹出 -->
<div class="modal fade" id="myBindedPointModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myBindedPointModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div id="modalBindPoint" class="modal-body">

                <!--下拉菜单 -->
                <span>类型：</span>
                <select id="pointType">
                    <option value="number" selected="selected">数值</option>
                    <option value="liquidLevel">液位</option>
                    <option value="switch" >开关</option>
                </select>

                <span>测点名</span>
                <input type="text" id="pointName" value=""/>
                <span id="pointDescLabel">描述</span>
                <input type="text" id="pointDesc" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>

