<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="../javascripts/vue.js"></script>
    <script src="../javascripts/jquery.min.js"></script>
</head>
<body>
<div id="app-1">
    <button @click="sendMessage">发送消息</button>
    <button @click="getAttr">get attr</button>
    <p v-text="d1"></p>
</div>
<script>
    var a = new Array(2);
    var base = 'http://localhost:8888/c1';
    var vm = new Vue({
        el : '#app-1',
        data : {
            d1 : 'vue abc'
        },
        methods : {
            sendMessage : function () {
                var vm = this
                $.ajax({
                    url : base + '/test-cross',
                    type : 'post',
                    cache : false,
                    success : function(res) {
                        vm.d1 = res
                    },
                    error : function (err) {
                        console.log(err)
                    }
                })
            },
            getAttr : function (e) {
                alert(hash("abc"))
            }
        }
    })
</script>
</body>
</html>